main a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #00449E;
  background-color: #fff;
  transition: background-color .15s ease-in-out; }

main a:hover {
  text-decoration: underline;
  transition: background-color .15s ease-in-out; }

main a:focus {
  text-decoration: underline;
  transition: background-color .15s ease-in-out; }

.info-link a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #00449e;
  transition: background-color .15s ease-in-out; }

.info-link a:hover {
  text-decoration: underline;
  transition: background-color .15s ease-in-out; }

.info-link a:focus {
  text-decoration: underline;
  transition: background-color .15s ease-in-out; }

.accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
  max-height: max-content; }

.accordion .accordion-header {
  display: block; }

.accordion .accordion-header {
  transition: transform 0.25s; }

.accordion .accordion-body {
  margin-bottom: .4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s; }

summary.accordion-header::-webkit-details-marker {
  display: none; }

table {
  font-size: .875rem;
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto; }

tbody {
  line-height: 1.5; }

th {
  font-weight: 600;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-right: 1rem;
  background-color: #fff; }

td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.2); }
